
 </div>

     <div class="row">

      <div class="col s2">
        <div class="card">
            <div class="card-image">
              <%= image_tag animal.photo.url %>
            </div>
            <div class="card-content">
               <p>Animal name: <%= animal.name %></p>
            </div>
            <div class="card-action">
              <a href="#">BOOKMARK</a>
            </div>
          </div>
      </div>
    
    </div>



<!--    <%= image_tag animal.photo.url %> 
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->