  
  <div class="col s2">
        <div class="card" >
            <div class="card-image" style="height: 200px;">
              <%= image_tag animal.photo.url %>
            </div>
            <div class="card-content" style="height: 75px;">
               <p>Name: <%= animal.name %></p>
            </div>
            <div class="card-action">
              <a href="#">Bookmark</a>
            </div>
          </div>
      </div>


