 <h2 class="header center teal-text text-lighten-2">Eventos Actuales: </h2>



  <%= render 'events/allEvents' %>


    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="/events/new"><i class="material-icons">local_pizza</i></a></li>      
    </ul>
  </div>